<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleDrawer()"
  >
    <mat-icon>menu</mat-icon>
  </button>

<form class="formBuscador">

  <mat-form-field class="buscador">
    <mat-label>Buscar</mat-label>
    <input matInput placeholder="Código, Nombre" [(ngModel)]="buscarTexto" #searchInput name="buscarTexto" />
  </mat-form-field>
  <button mat-button class="btnBuscar" type="button" proveedorBuscar (click)="proveedorBuscar(); limpiarInput()">
    <mat-icon mat-icon-lg id="icon">search</mat-icon>
  </button>
  <button mat-button class="btnAgregarProveedor" (click)="proveedorAdd(); limpiarInput()">
    <mat-icon mat-icon-lg id="icon">add_circle</mat-icon>
  </button>
</form>

<div class="table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>


      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef>Precio</th>

      <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="correo">

      <th mat-header-cell *matHeaderCellDef>Correo</th>
      <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="telefono">

      <th mat-header-cell *matHeaderCellDef>Telefono</th>
      <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
    </ng-container>

    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef>Acción</th>
      <td mat-cell *matCellDef="let element">

        <button mat-button class="btnDeleteProveedor" (click)="proveedorDelete(element)">
          <mat-icon on mat-icon-lg class="addToCard">
          delete
          </mat-icon>
        </button>
      
        <button mat-button class="btnEditProveedor" (click)="proveedorEdit()">
          <mat-icon on mat-icon-lg class="addToCard">
            border_color
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
