body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #258880, #477757);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90.2vh;
    margin: 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form {
    flex: 1;
    text-align: left;
    padding: 0 20px;
    margin-right: 5%;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btnSesion {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

section.img-decorator {
    flex: 1;
    text-align: center;
    margin: 1%;
    
}

section.img-decorator img {
    max-width: 100%;
    height: auto;
}
