<form class="example-form custom-form" [formGroup]="loginForm">
 
    <div class="row">
        <mat-form-field class="full-width">
            <mat-label>Nombre</mat-label>
            <input matInput name="nombre" formControlName="nombre" [(ngModel)]="user.Nombre">

        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" formControlName="password" [(ngModel)]="user.Password">

        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="full-width">
            <mat-label>Nombre Usuario</mat-label>
            <input matInput name="nombreUsuario" formControlName="nombreUsuario" [(ngModel)]="user.Usuario">
        </mat-form-field>
    </div>
    
    <div class="row">
        <mat-form-field class="full-width">
            <mat-label>Cargo</mat-label>
            <input matInput name="cargo" formControlName="cargo" [(ngModel)]="user.Cargo">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field matTooltip="Formato 10 digitos" class="full-width">
            <mat-label >Teléfono</mat-label>
            <input matInput name="telefono"   type="number" pattern="[0-9]{10}" formControlName="telefono" [(ngModel)]="user.Telefono" appNumericOnly  maxlength="10" >
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field matTooltip="Formato: correo@example.com" class="full-width">
            <mat-label >Correo Electronico</mat-label>
            <input matInput name="correoElectronico"  placeholder="correo@example.com" formControlName="correoElectronico" [(ngModel)]="user.CorreoElectronico" >
    
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="full-width">
            <mat-label>RolID</mat-label>
            <input type="number" matInput name="rolID"  formControlName="rolID" [(ngModel)]="user.RolID">
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="centered-button">
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button (click)="oncreate()"  type="submit" mat-raised-button [disabled]="!loginForm.valid" >Guardar</button>
    </div>

</form>