.btnRemoveCarrito {
  background-color: #c21717;
  padding: 4%;
  border-radius: 10%;
  cursor: pointer;
  margin-left: 2%;

}

.etiquetaTotal {
  text-align: right;
  color: white;
  padding-right: 30%;
}