<h2 mat-dialog-title>Carrito de las Compras</h2>
<mat-dialog-content class="dialogCarrito">

  <div class="table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <!-- Precio Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let element">{{ element.precio }}</td>
      </ng-container>

       <!-- Cantidad Column -->
       <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
      </ng-container>

      <!-- total Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">{{ element.total }}</td>
      </ng-container>

      <!-- acción Column -->
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button class="btnRemoveCarrito" (click)="openDialogConfirmacion(element)">
            <mat-icon mat-icon-lg class="removeFromCard"
              >remove_shopping_cart</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  
  
 
</mat-dialog-content>
<div>
  <h1 class="etiquetaTotal">Total:  ${{ total }}</h1>
</div>


<mat-dialog-actions style="justify-content: flex-end;" >
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button  (click)="comprar()"[mat-dialog-close]="true" >Comprar</button>
</mat-dialog-actions>