<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleDrawer()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="LabelNombre">Sistema de Gestión de la verduleria "La Floresta"</span>
  

  <span class="example-spacer"></span>
  <span class="example-fill-remaining-space"></span>
  <div class="user-container">
    <h1>{{ userName }}</h1>
    <div class="user-container">
      <div class="user-avatar">
        <img [src]="imag" routerLink="login" alt="Imagen de perfil" />
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer
    mode="side"
    [opened]="isDrawerOpened"
    class="vertical-drawer with-background"
  >
    <div class="user-container">
      <p>{{ userName }}</p>
    </div>
    <div class="user-container">
      <h1>{{ name }}</h1>
    </div>
    <div class="user-container">
      <div class="user-avatar">
        <img [src]="imag" alt="Imagen de perfil" />
      </div>
    </div>

    <div class="button-container">
      <button mat-button class="icon"  (click)="toHome()">
        <mat-icon class="iconHome" >home</mat-icon>
        Home
      </button>
      <button mat-button class="icon" (click)="goToUsuarios()">
        <mat-icon>account_circle</mat-icon>
        Usuarios
      </button>
      <button mat-button class="icon" (click)="goToProveedores()">
        <mat-icon>perm_contact_calendar</mat-icon>
        Proveedor 
      </button>   

      <button mat-button class="icon" (click)="goToProductos()">
        <mat-icon>account_box</mat-icon>
        Producto 
      </button>
      <button mat-button class="icon" (click)="toLogin()">
        <mat-icon>exit_to_app</mat-icon>
        Salir
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="gradient-background">
    <router-outlet>
      
    </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
