<h2 class="titulo">Agregar Proveedor</h2>
<form class="two-column-form">
  <div class="column">
    <label for="nombre">Nombre:</label>
    <input id="nombre" name="nombre" required>

    <label for="direccion">Dirección:</label>
    <input id="direccion"  name="direccion" required>
  </div>

  <div class="column">
    <label for="telefono">Teléfono:</label>
    <input id="telefono" name="telefono" required>

    <label for="correoElectronico">Correo Electrónico:</label>
    <input id="correoElectronico"  name="CorreoElectronico" required>
  </div>

  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button  cdkFocusInitial>Agregar</button>
</form>
