<h2>Agregar Proveedor</h2>
<form class="two-column-form">
  <div class="column">
    <label for="nombre">Nombre:</label>
    <input id="nombre" [(ngModel)]="data.Nombre" name="nombre" placeholder="Nombre" required>

    <label for="direccion">Dirección:</label>
    <input id="direccion" [(ngModel)]="data.Direccion" name="direccion" required>
  </div>

  <div class="column">
    <label for="telefono">Teléfono:</label>
    <input id="telefono" [(ngModel)]="data.Telefono" name="telefono" required>

    <label for="correoElectronico">Correo Electrónico:</label>
    <input id="correoElectronico" [(ngModel)]="data.CorreoElectronico" name="CorreoElectronico" required>
  </div>

  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Agregar</button>
</form>